* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    margin: 1.5em;
}
input { 
    border: black;
    padding: 0;
    height: 2.8rem;
    width: 4rem;
}

select {
    padding: 10px;
    appearance: none;
    background-image: url(/images/down-arrow.png);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: calc(100% - 8px) center;
}

.check {
    background-image: url(images/check-solid.png);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: calc(100% - 8px) center;
}

button {
    font-family: 'Inter';
}

button,select  {
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    background-color: white;
}

.colors-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 70vh 30vh;
    height: 75vh;
}
.color-name, .color-el {
    cursor: pointer;
}
.color-name {
    justify-self: center;
    margin-top: 15px;
    height: 30px;
}
.toast {
    visibility: hidden;
    background-color: rgba(99, 97, 97, 0.425);
    padding: 0.7rem;
    margin: 10 auto;
    border-radius: 20px;
    width: 300px;
    text-align: center;
}
.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
